<!-- <p>
  sign-in works!
</p> -->

<div style="background-color: rgb(145, 162, 165)">

<div class="container">
  <br><br><br><br>
  <div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-9">
  <mat-card class="example-card text-center" style="background-image: url('assets/img/login.jpg'); background-repeat: no-repeat; background-size: cover; height: 700px; width:70%">
    <mat-card-title class="text-center">
      <h2>
        <strong> 
          Sign In
        </strong>
      </h2>
    </mat-card-title>
    <hr>
    <mat-card-content class="px-lg-5 pt-0">
      <form class="text-center" [formGroup]="signInForm" (ngSubmit)="onSubmit(signInForm)">
          <div class="md-form">
            <mat-form-field>
              <mat-label appearance="outline">
                <p>
                  <strong>
                    Email
                  </strong>
                </p>
              </mat-label>
              <input matInput type="email" class="form-control" formControlName="email" required>
              <mat-error>
                Enter valid registered email!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="md-form">
            <mat-form-field>
              <mat-label appearance="outline">
                  <p>
                    <strong>
                      Password
                    </strong>
                  </p>
              </mat-label>
              <input type="password" formControlName="password" class="form-control" matInput required>
              <mat-error>
                  Enter valid password!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
          <div class="example-button-row">
            <button mat-raised-button color="primary" outline="true" rounded="true" block="true" class="my-4 waves-effect z-depth-0" type="submit" style="width: 30%" [disabled]="!signInForm.valid">
              <mat-icon matSuffix>save_alt</mat-icon>
              Sign In
            </button>
          </div>
          <p>
            <strong>Not Registered yet?<a href="/signup"> Sign Up </a></strong>
          </p>
      </form>
    </mat-card-content>
  </mat-card>
</div>
</div>
</div>
<br><br><br><br><br>
</div>