<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" href="/index" target="_self">
      <strong>THE LONDON CUT</strong>
    </a>

    <!-- Collapse -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

      
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons ml-auto">
        <!-- <li class="nav-item">
          <a href="https://www.facebook.com" class="nav-link" target="_blank">
            Facebook
            <i class="fab fa-facebook-f"></i>
          </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin']">
              Dashboard
              <i class="material-icons"></i>
            </a>
          </li>
        <li class="nav-item">
          <a [routerLink]="['/login']" class="nav-link border border-light rounded"
            target="_self">
            <i class="fab fa-github mr-2"></i>Sign In / Sign Up
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
<!-- Navbar -->

<!-- Full Page Intro -->
<div class="view full-page-intro" style="background-image: url('assets/img/background.jpg'); background-repeat: no-repeat; background-size: cover; height: 800px;" alt="no image">

  <!-- Mask & flexbox options-->
  <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

    <!-- Content -->
    <div class="container">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4 white-text text-center text-md-left">
          <br><br><br><br>

          <h1 class="display-4 font-weight-bold">The London Cut</h1>

          <hr class="hr-light">

          <p style="color: white">
            <strong><h2>Good Sewing for Good Moments</h2></strong>
          </p>
          <br><br><br>

          <p class="mb-4 d-none d-md-block" style="color: rgb(252, 250, 248)">
            <strong>Using our exclusive tailored shop web application now the retailer can add options for various design styles for each customizer and users can design and customize their clothes by selecting different design patterns as they get the freedom to choose every single bit of component that goes into tailoring your outfit.</strong>
          </p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

    </div>
    <!-- Content -->
    

  </div>
  <!-- Mask & flexbox options-->

</div>
<!-- Full Page Intro -->






