<app-side-menu></app-side-menu>

<div class="container">
  <h2>Inventory Items</h2>

  <mat-form-field appearance="legacy">
      <mat-label>Search</mat-label>
      <input matInput #term (keyup)="search(term.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  
  <div class="row">
    <div class="col-md-4">
      <mat-form-field>
    <mat-label>Display : </mat-label>
    <mat-select #displayType (selectionChange)="display(displayType.value)" [value]=''>
      <mat-option value="material" selected>Materials</mat-option>
      <mat-option value="suit">Suits</mat-option>
      <mat-option value="rental">Suits for rent</mat-option>
      <mat-option value="" selected>All</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

  <div class="col-md-4">
    <button mat-fab routerLink="/item-create">
      <mat-icon aria-label="Example icon-button with a heart icon">add_circle</mat-icon>
    </button>

  </div>
</div>


  <div class="row">
    <div class="col-md-4" *ngFor="let item of itemList | async">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{ item.name }}</mat-card-title>
          </mat-card-header>
          <img mat-card-image [src]="sanitize(item.image)" alt="{{item.name}}" style="height: 345px;">
          <mat-card-content>
            <p>
              {{item.description}}
            </p>
            <p>
                Remaining Quantity : {{item.quantity}}
            </p>
            <p>
                Price : {{item.price}} LKR
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/inventory/edit', item._id]">Edit</button>
            <button mat-raised-button color="warn" (click)="deleteItem(item._id)">Delete</button>
            <button *ngIf="item.type=='rental'" mat-raised-button color="accent" [routerLink]="['/rent', item._id]">Rent</button>
          </mat-card-actions>
        </mat-card>
      </div>
  </div>
</div>
