<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

    Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a [routerLink]="['/']" class="simple-text logo-normal">
      <b>The-London-Cut</b>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <a class="nav-link" href="./dashboard.html">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/ordermng']">
          <i class="material-icons">shopping_cart</i>
          <p>Orders</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/inventory']">
          <i class="material-icons">content_paste</i>
          <p>Inventory</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/employee']">
          <i class="material-icons">face</i>
          <p>Employees</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/inventory']">
          <i class="material-icons">book</i>
          <p>Bookings</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="./map.html">
          <i class="material-icons">markunread_mailbox</i>
          <p>Rentals</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" [routerLink]="['/appointment']">
          <i class="material-icons">appointment</i>
          <p>Appointment</p>
        </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="">
          <button>
          <i class="material-icons">exit_to_app</i>
          <input type="button" (click)="onLogout()" value="Logout">
          </button>
        </a>
      </li>
    </ul>
  </div>
</div>