

.example-button-row button,
.example-button-row a {
  width: 150px;
  margin-top: 10px;
  margin-left: 10px;
  
}



.ord{
  opacity: 50%;
  
  background-size: 100%;
  
}

.card1{
  width: 75%;
  background:transparent;
}
.card2{
  
  background:transparent;
}

.Search{
  margin-top: 10px;
  width: 100%;
  
}

.title{
  margin-left: 10px;
  color:black;
}

