<app-side-menu></app-side-menu>
<div class ="emp">
  <mat-card class = "formcard">
      <div class = "menu">
          <mat-card-title>
              <h2>Employee Mangement</h2>
          </mat-card-title>
          <mat-form-field >
              <mat-label class = "Search" >Search</mat-label>
              <input matInput #term (keyup)="search(term.value)">
              <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
      </div>
      <div class="row">
            <div class="col-md-6">
              <mat-card class="card1">
              <form [formGroup]="employeesForm" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="_id">
                <mat-form-field appearance="outline">
                      <mat-label>Employee ID</mat-label>
                      <input matInput #empID formControlName="empId" placeholder="">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Employee Name</mat-label>
                      <input matInput #empName formControlName="empName" placeholder="">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Address</mat-label>
                      <input matInput #empAdd formControlName="empAdd" placeholder="">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Contact No</mat-label>
                      <input matInput #empContact formControlName="empContact" placeholder="">
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Gender</mat-label>
                  <mat-select #empGender formControlName="empGender"> 
                          <mat-option value="Male">Male</mat-option>  
                          <mat-option value="Female" selected>Female</mat-option>
                  </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                      <mat-label>Work Started Date</mat-label>
                      <input matInput #startDate formControlName = "startDate" placeholder="Choose a date">
                      <mat-datepicker-toggle matSuffix [for]="fdate"></mat-datepicker-toggle>
                          
                  </mat-form-field>
                  <mat-card-actions>
                          <div class="example-button-row">
                          <button mat-flat-button color="primary">Submit</button>    
                          </div>
                  </mat-card-actions>  
              </form>
            </mat-card>
            </div>

            <div class="col-md-4" >
                <mat-card class="card2">
                    <table class="table table-md">
                        <thead>
                          <tr>
                            <th scope="col"><b>Employee ID</b></th>
                            <th scope="col"><b>Employee Name</b></th>
                            <th scope="col"><b>Contact No</b></th>
                            <th scope="col"></th>
                           
                          </tr>
                        </thead>
                        
                          
                          
                                 
                             <tr *ngFor="let employee of employeeList | async" class="table-striped">
                            <td>{{employee.empId}}</td>
                            <td>{{employee.empName}}</td>
                            <td>{{employee.empContact}}</td>
                            
                           
                      
                               <td>
                                <a class="action-btn" style="color:rgb(36, 143, 192); cursor: pointer" (click)="onEdit(employee)">
                                  <i class="material-icons">edit</i>
                                </a>
                                <a class="action-btn" style="color:lightcoral; cursor: pointer" (click)="deleteEmployee(employee._id)">
                                  <i class="material-icons">delete</i>
                                </a>
                              </td>
                          </tr>
                        
                     
                      </table>
                </mat-card>
              </div>
        
            
          </div>
    </mat-card>
</div>



            
          
        
  
        
  
    